* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

form {
    margin: 20px;
    padding: 20px;
    border: solid lightgray 1px;
    display: none;
    flex-direction: column;
}

button {
    width: 200px;
    height: 30px;
    margin: 20px;
}

form button{
    width: 150px;
    height: 30px;
    margin: 0 20px 0 0;
    align-self: center;
}

input {
    height: 30px;
    border: solid darkgray 1px;
    border-radius: 5px;
    padding-left: 5px;
}

input[type=checkbox] {
    align-self: flex-start;
    width: 30px;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.book {
    flex: 1;
    min-width: 150px;

    background-color: darkgray;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 10px;
}